<div class="container">
    <h2 class="text-uppercase text-center text-muted m-4">
        Carro de compras
    </h2>
    <div class="container mt-4 mb-5">
    <div id="bodyCarrito" class="row">
            {{#if cartProducts}}
                <div class="productsGrid">
                    {{#each cartProducts}}
                            <div class="card card-w ms-4">
                                <div class="h-50">
                                <img src={{this.id_prod.thumbnails}} class="card-img-top p-4" alt={{this.id_prod.title}}>
                                </div>
                                <div class="card-body p-4">
                                <h5 class="card-title">{{this.id_prod.title}}</h5>
                                <p class="card-text">{{this.id_prod.description}}</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">PRICE: ${{this.id_prod.price}}</li>
                                    <li class="list-group-item">STOCK: {{this.id_prod.stock}}</li>
                                    <li class="list-group-item">CATEGORY: {{this.id_prod.category}}</li>
                                    <li class="list-group-item">QUANTITY: {{this.quantity}}</li>
                                </ul>
                                </div>
                            </div>
                    {{/each}}
                </div>
            {{else}}
                <div>
                    <h2 class="text-secondary text-opacity-75 text-center">
                        ¡Carrito vacío!
                    </h2>
                </div>
            {{/if}}

    </div>
    </div>
        {{#if cartProducts}}
            <div>
                <h5 class="text-center m-4">
                    Costo total: <span>${{totalCost}}</span>
                </h5>
                <div class="d-flex justify-content-center pb-5">
                    <form id="vaciarCarrito" method="post">
                        <input id="cartId" name="cartId" type="hidden" value={{user.cart}} />
                        <button class="btn btn-danger pr-4 ms-4" type="submit">Vaciar carrito</button>
                    </form>
                    <form id="comprarCarrito" method="post">
                        <input id="cartId" name="cartId" type="hidden" value={{user.cart}} />
                        <button class="btn btn-dark pr-4 ms-4" type="submit">Realizar compra</button>
                    </form>
                </div>
            <div/>
        {{else}}
            <span id="vaciarCarrito" style="display:none"></span>
            <span id="comprarCarrito" style="display:none"></span>
        {{/if}}
<div/>